* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

body {
}

p {
  font-size: 1.6rem;
  line-height: 1.5rem;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 5rem 20px;
}

/* Start Here */
.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  box-shadow: 0px 5px 10px #ddd;
}
.visit {
  font-size: 20px;
  font-weight: 700;
}
.visit a {
  color: #333;
}
